#footer.container-fluid.bg-whitesmoke
  .row.margin-top-40

    // 链接
    .col-md-12.footer-social-media-row.footer-row
      a(href='mailto:mail@sunchaoran.com?subject=Feedback')
        i.fa.fa-envelope.fa-2x
      a(href='http://weibo.com/ezsun0724/' target='_blank')
        i.fa.fa-weibo.fa-2x
      a(href='http://twitter.com/ezsun0724/' target='_blank')
        i.fa.fa-twitter.fa-2x
      a(href='https://github.com/sunchaoran/' target='_blank')
        i.fa.fa-github.fa-2x
      a(href='https://instagram.com/sunchaoran/' target='_blank')
        i.fa.fa-instagram.fa-2x

  // 关于
  .row.footer-link-row.footer-row
    a(href='#') 关于本站
    | |
    a(href='#') Cookies

  // Copyright
  .row.footer-copyright-row.margin-bottom-40
    | Copyright © 2015 sunchaoran.com . All rights reserved.