meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

// favicon
link(rel='shortcut icon' href='/images/icon/favicon.icon')

// core.min.css:
    bootstrap.less
    fontawesome.less
    nprogress.css
    layout.css
    nav.css
    footer.css
    core.less
link(rel='stylesheet', href='/core/core.min.css')

// core.min.js:
    jquery.js
    jquery.cookie.js
    underscore.js
    backbone.js
    bootstrap.js
    moment.js
    nprogress.js
    core.js
script(src='/core/core.min.js')